input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  box-sizing: border-box;
}

div.course-detail {
  display: block;
  margin-left: 100px;
  border-radius: 10px;
}

form {
  margin: auto;
  width: 75%;
}

/* .course-inputs {
  display: block; 
  margin: auto;
}  */

/* label {
  display: inline-block;
  font-weight: bold;
} */

input {
  display: inline-block;
  margin-bottom: 8px;
}

#course-description {
  width: 300px;
  height: 150px;
}

.first-name,
.last-name {
  margin-right: 5px;
}

button {
  display: block;
  border-radius: 10px;
  height: 35px;
  margin-bottom: 5px;
}

button:hover {
  background-color: green;
  color: white;
  font-weight: bold;
}

div.course-detail {
  border: solid black 1px;
  box-shadow: -8px 8px 10px rgb(0, 0, 0);
  background-color: #f95a61;
  padding: 10px;
  margin: auto;
  width: 600px;
  position: relative;
}

div.course-detail-buttons {
  /* border: 1px dashed red; */
  margin: 0 8px;
  position: absolute;
  right: 0;
  bottom: 0;
}

/* .align-button {
  display: inline-block;
  text-align: center;
  width: 47%;
  margin-right: 3%;
} */

.addtl-dates-div {
  display: block;
  float: right;
  font-weight: bold;
  margin-right: 15px;
}

.addtl-dates-label {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

button.edit-submit-button {
  width: 100px;
}

p {
  margin: 5px 0;
}

h3 {
  margin-bottom: 2px;
  /* color: white; */
}

h2 {
  margin-top: 15px;
  
}
