input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  box-sizing: border-box;
}

.course-inputs {
  display: inline-block;
  margin: auto;
}

label {
  display: inline-block;
  width: 140px;
  font-weight: bold;
}

input {
  display: inline-block;
  margin-bottom: 8px;
}

#course-description {
  width: 300px;
  height: 150px;
}

.first-name,
.last-name {
  margin-right: 5px;
}

button {
  display: block;
  border-radius: 10px;
  height: 35px;
  margin-bottom: 5px;
}

button:hover {
  background-color: green;
  color: white;
  font-weight: bold;
  /* font-size: 110%; */
}

div.course-detail{
  /* display: block;
  margin: auto; */
  border-radius: 10px;
  border: solid black 1px;
}
.course-detail-buttons {
  float: right;
}

.align-button {
  display: inline-block;
  text-align: center;
  width: 47%;
  margin-right: 3%;
}

.dates-div {
  display: block;
  float: right;
  font-weight: bold;
  margin-right: 15px;
}

.dates-label {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

/* fieldset {
  display: block;
  padding: 20px;
  width: 960px;
  margin: auto;
} */
