input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  box-sizing: border-box;
}

::-webkit-clear-button {
  display: none;
  -webkit-appearance: none;
}

::-webkit-inner-spin-button {
  display: none;
}

::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
  width: 25px;
  height: 20px;
}

/* .course-inputs {
  display: inline-block;
  margin: auto;
} */

label {
  display: inline-block;
  width: 140px;
  font-weight: bold;
}

input {
  display: inline-block;
  margin-bottom: 8px;
}

#course-description {
  width: 300px;
  height: 150px;
}

.first-name,
.last-name {
  margin-right: 5px;
}

button {
  display: block;
  border-radius: 10px;
  height: 35px;
  margin-bottom: 5px;
}

div.course-edit {
  display: block;
  margin: auto;
  border-radius: 10px;
}
.course-detail-buttons {
  float: right;
}

.edit-submit-button {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-right: 3%;
}

.addtl-dates-div {
  display: block;
  float: right;
  font-weight: bold;
  margin-right: 15px;
}

.addtl-dates-label {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}
