/* * {
  border: 1px solid red;
} */

div {
  box-sizing: border-box;
}

div.home-page {
  display: block;
  position: relative;
  margin: 20px auto 20px;
  padding: 15px;
  width: 800px;
  border-radius: 10px;
  border: solid black 1px;
  box-shadow: 8px 8px 10px;
}

.people-buttons {
  display: block;
  border-radius: 10px;
  position: absolute;
  float: right;
  right: 0;
  bottom: 0;
  margin: 5px;
}

.edit-person {
  width: 100%;
}
