
div.home-page {
  display: block;
  position: relative;
  margin: 15px auto 20px;
  padding: 10px;
  width: 75%;
  border-radius: 10px;
  border: solid black 1px;
  box-shadow: 8px 8px 10px;
  
  
}

button.new-course-button {
  display: block;
  border-radius: 10px;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 5px;
}
